

<ion-header>
    <ion-navbar id="titlePrice">
      <ion-title>
      注册
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
<!-- <p>????</p> -->
    <div class="contain">
            <img src="assets/img/login/logo2.png" alt="" class="logo">
          <div class="ulInput">
            <ul>
                <li id="liTop">
                  <img src="assets/img/login/phone.png" alt="" class="regIcon">
                  <input type="number" [(ngModel)]="userInfo.phone" clearInput autocomplete="on" placeholder="请输入手机号" class="plcolor" >
                </li>
                <li>
                  <img src="assets/img/login/phoneCode.png" alt="" class="regIcon">
                  <input type="number" [(ngModel)]="userInfo.yzm" placeholder="请输入验证码" clearInput class="plcolor">
                </li>
                <li>
                  <img src="assets/img/login/password.png" alt="" class="regIcon">
                  <input type="password" [(ngModel)]="userInfo.newPassWord" placeholder="请输入密码" clearInput class="plcolor">
                </li>
                <li>
                  <img src="assets/img/login/password.png" alt="" class="regIcon">
                  <input type="password" [(ngModel)]="userInfo.rePassWord" placeholder="请再次输入密码" clearInput class="plcolor">
                </li>
            </ul>
            <div id="getCode">
                <button ion-button class="yzm-btn" (click)="findPasswordCode()" *ngIf="!hasClick">{{hq}}</button>
                <button ion-button class="yzm-btn" disabled *ngIf="hasClick">{{num}}s</button>
        </div>
        </div>  
      
         
            <p class="errorTip" *ngIf="errorTip">{{errorTipMsg}}</p>
            <p style="text-align:center;" class="agreeI"> <input type="checkbox" [(ngModel)]="agreeI" (click)="agree()"> <span (click)="showAlert()"> 阅读并同意 <a href="javascript:void(0);" style="text-decoration: none;" >《用户协议1.0》</a> </span> </p>
            <button ion-button class="btn" (click)="next()" block>下一步</button>
    </div>
    <div class="motai" *ngIf="hasSuccess">
          <img src="assets/img/login/loading.gif" alt="" id="loading">
    </div>
    <!-- <input type="file"> -->
</ion-content>


