<!-- <ion-header id="header">
  <div class="header-left" (click)="goBack();">
    <img src="assets/img/common/back.png"/>
  </div>
  <div class="header-center">
    <span>登录</span>
  </div>
  <div class="header-right">
    <span></span>
  </div>


</ion-header> -->


<ion-content class="content">


  <div class="mine-header grid">
    <div class="big-title">我的</div>
    <div class="headImg" (click)="showHeadImg()">
      <img src="{{storeImage}}" alt="头像" onerror="javascript:this.src='assets/img/default.png';" class="imgHeader" id="userImg">
    </div>
    <div class="sub-title">{{userName}}</div>
    <span *ngIf="version" class="mine-header-ver">当前APP版本:{{version}}</span>
  </div>

  <div class="grid">
      <ul>
        <li (click)="goMessage()" style="position: relative;">
              <img src="assets/img/wallet/xiaoxi.png" class="iconImg">
              <div class="title">消息</div>
              <span id="infoTips" [ngClass]="{'notReadMore': notRead=='99+'}" *ngIf="notRead != 0">{{notRead}}</span>
        </li>
        <li (click)="goOrderList()">
          <img src="assets/img/wallet/qianbao.png" class="iconImg">
          <div class="title">订单</div>
        </li>
        <li (click)="goMyWallet()">
          <img src="assets/img/wallet/yinh.png" class="iconImg">
          <div class="title">钱包</div>
        </li>
      </ul>
  </div>
  <img src="assets/img/login/loading.gif" alt="" *ngIf="loading" class="loading">
  <!-- <ion-spinner name="bubbles"></ion-spinner> -->

  <div class="info">
    <section class="fontS" (click)="goBasicInfo()"> <img src="assets/img/wallet/jiben.png" class="iconImg iconImg2">基本信息 <img alt="" src="assets/img/wallet/gengduo.png" class="more"></section>
    <section  class="fontS" *ngIf="whetherAccount" (click)="goAccount()"> <img src="assets/img/wallet/kaihu.png" class="iconImg iconImg2">开户 <img alt="" src="assets/img/wallet/gengduo.png" class="more"></section>
    <section class="fontS" (click)="goCoupon()">
      <img src="assets/img/wallet/coupon.png" class="iconImg iconImg2">优惠卷
      <img alt="" src="assets/img/wallet/gengduo.png" class="more">
    </section>

  </div>
  <div class="asked">
      <a href="tel:0517-89860133" style="color:#000;text-decoration:none;"><section class="fontS"> <img src="assets/img/wallet/dianhua.png" class="iconImg iconImg2">联系客服<img alt="" src="assets/img/wallet/gengduo.png" class="more"></section ></a>
      <section class="fontS" (click)="editPassword()"> <img src="assets/img/wallet/mima.png" class="iconImg iconImg2">修改登录密码 <img alt="" src="assets/img/wallet/gengduo.png" class="more"></section>
      <section class="fontS"  (click)="exitApp()"> <img src="assets/img/wallet/exitApp.png" class="iconImg iconImg2" id="exitApp">退出登录 <img alt="" src="assets/img/wallet/gengduo.png" class="more"></section>
  </div>
  <!-- <div class="motai" *ngIf="hasSuccess">
    <img src="assets/img/login/loading.gif" alt="" id="loading">
  </div> -->
  <div class="tm_headImg" id="addCladd" *ngIf="openHeadImg" (click)="closeHeadImg()">

    <img src="{{storeImage}}" alt="头像" onerror="javascript:this.src='assets/img/default.png';">
  </div>
</ion-content>

