order-map-page {
  .oc_content{
    position: absolute;
    height: auto;
    bottom: 0;
    background: #DFF0F0;
  }
  .od_map{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
