
<ion-header>
    <ion-navbar>
      <ion-title>余额提现</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
    <!-- <div class="header">
            <span class="more" (click)="goBack()"> ← back </span>    余额提现
    </div> -->
    <div class="card">
        <div class="cardImg">
            <img src="{{bankLogoPath}}" alt="">
        </div> 
        <div>{{bankName}}</div>
        <div>尾号{{bankCardNo}}储蓄卡</div>
    </div>
    <div class="getMoney">
        <ul>
            <li class="withdraws">
                提现金额
            </li>
            <li id="money">
                <span class="danwei">￥</span>
                <input type="tel" class="money" [(ngModel)]="balance" (keyup)="changeMon()">
                <span id="allIn" (click)="allIn()">全部提现</span>
            </li>
            <li *ngIf="hasCharge">
                可用余额{{cashAmount}}元
            </li>

        </ul>
        <div *ngIf="showCharge" class="hasCharge">
            <p>额外扣除￥{{needCharge}}元手续费（费率{{acctInfo.TXFL}}，{{acctInfo.TXFLZG}}元封顶）。</p>
            <p>活动期间平台补贴￥{{needCharge}}元手续费，实际手续费0元。</p>
        </div>
    </div>
    <div class="accTInfo">
        <ul>
            <li>提现额度说明</li>
            <li>单笔提现：最低<span style="color:#F4B04D">{{acctInfo.DBTXZD}}</span>元，最高<span style="color:#F4B04D">{{acctInfo.DBTXZG}}</span>元</li>
            <li>单日提现：最高<span style="color:#F4B04D">{{acctInfo.DRTXZG}}</span>元</li>
        </ul>
    </div>
    <div class="affirmGet" (click)="affirmGet()" >
            确认提现
    </div>
    <p class="twoHours">两小时内到账</p>

    <div class="motai" *ngIf="hasSuccess">
        <img src="assets/img/login/loading.gif" alt="" id="loading">
      </div>
      <!-- <p (click)="testPik()">测试</p> -->
</ion-content>