order-agree-page {
  .oa_head{
    position: absolute;
    width: 100%;
    height: .88rem;
    text-align: center;
    color: #FFF;
    line-height: .88rem;
    font-size: .36rem;
    top: .3rem;
    left: 0;
    z-index: 1001;
  }
  .oa_head span{
    margin-left: -.8rem;
  }
  .oa_head_back{
    width: .8rem;
    height: .8rem;
    float: left;
    margin-left: .1rem;
  }
  .oa_content{
    position: absolute;
    width: 100%;
    height: auto;
    top: 4.2rem;
    bottom: 1rem;
    overflow: scroll;
    background: #F3F5F5;
  }
  .oa_content_noBottom{
    bottom: 0;
  }
  .oa_conBox:nth-child(1){
    margin-top: .8rem;
  }
  .oa_conBox:last-child{
    margin-bottom: .3rem;
  }
  .oa_display{
    position: absolute;
    width: 100%;
    height: 4.2rem;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, #1f9f90, #52bec2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top, #1f9f90, #52bec2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top, #1f9f90, #52bec2); /* Firefox 3.6 - 15 */
    background: linear-gradient(top, #1f9f90, #52bec2); 
    z-index: 1000;
  }
  .oa_display_inner{
    position: absolute;
    width: 2.46rem;
    height: 2.46rem;
    left: 50%;
    top: 1.2rem;
    color: #FFF;
    text-align: center;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: url(../assets/img/orderDetail/circle.png);
    background-size: 100% 100%;
  }
  .oa_display_inner img{
    position: absolute;
    display: block;
    top: 0rem;
    left: 0rem;
    width: 2.46rem;
    height: 2.46rem;
  }
  .oa_display_inner h4{
    font-size: .36rem;
    margin: .8rem auto .3rem;
  }
  .oa_display_inner h6{
    font-size: .3rem;
    margin: 0 auto;
  }
  .home-notice {
    position: absolute;
    height: .7rem;
    width: 96%;
    left: 50%;
    bottom: -.4rem;
    background-color: white;
    align-items:center;
    display:-webkit-flex;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: .08rem;
    background: #FFF;
    overflow: hidden;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .home-notice img {
    float: left;
    height: .56rem;
    width: .6rem;
    height: .6rem;
    display: inline-block;
    margin: 0 .1rem 0 .1rem;
  }

  .home-notice span:nth-child(2) {
    font-size: .24rem;
    color: #6c6a69;
  }

  .home-notice #noticeSlider {
    width: 70%;
    float: left;
    margin-top: -2px;
    padding-left: 10px;
    align-items:center;
    display:-webkit-flex;
    height: 42px;
  }

  .home-notice #noticeSlider .swiper-wrapper{
    height: 42px;
  }

  .home-notice #noticeSlider .swiper-slide{
    font-size: .28rem !important;
  }
  .oa_box{
    margin-top: .3rem;
    margin-bottom: 0;
    background: #FFF;
    border-radius: .12rem .12rem 0 0;
    border-bottom: .02rem solid #EFEFEF;
    box-shadow: none;
    color: #959898;
    font-size: .26rem;
  }
  .oa_box span{
    float: right;
  }
  .od_detailList{
    padding: 0 0 .2rem .5rem;
  }
  .od_detailList li{
    display: inline-block;
    width: 48%;
    font-size: .28rem;
    color: #68828D;
    text-align: left;
    margin: 0 0 .1rem 0;
  }
  .oa_table{
    width: 95%;
    margin-top: 0;
    clear: both;
    border-radius: 0 0 .12rem .12rem;
    box-shadow: 0 0.04rem 0.08rem rgba(0, 0, 0, 0.1);
  }
  .oa_table td{
    width: 33.3%;
    text-align: center;
  }
  .oa_btn2{
    background: none;
    color: #EFADB4;
  }
  .noBottom{
    bottom: 0;
  }
  .oa_box span,.od_table table td{
    font-size: .28rem;
  }
  .oc_table td span{
    height: .36rem;
    line-height: .36rem;
  }
  #oa_total .oc_box_nav{
    padding: 0;
    height: .8rem;
  }
  #oa_total .oc_box_nav p{
    width: 2.6rem;
    height: .4rem;
    color: #80CECE;
    background: #FFF;
    text-indent: .5rem;
    font-size: .28rem;
    line-height: .4rem;
    border-radius: 0 .8rem .8rem 0;
    margin: .2rem 0 0 0;
  }
  #oa_total .od_detailList{
    padding-bottom: .06rem;
    background: #80CECE;
  }
  #oa_total .oc_box_nav{
    border-bottom: none;
    background: #80CECE;
    color: #FFF;
  }
  #oa_total .od_detailList li{
    color: #FFF;
  }
  .spining {
      -webkit-animation: rotation1 5s ease-in-out infinite;
      animation: rotation1 5s ease-in-out infinite;
  }
  @-webkit-keyframes rotation1{
      0%{
        -webkit-transform: rotate(0deg);
      }
      100%{-webkit-transform: rotate(360deg);}
  }
}
