<ion-header>
  <ion-navbar>
    <ion-title>订单详情</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <section class="oc_content">
  <section class="od_map">
      <div id="od_map_tip" *ngIf="orderInfoBean.orderStatusId == '1' ">超过24小时未接单，则订单自动取消</div>
      <div id="od_map_tip" *ngIf="orderInfoBean.orderStatusId != '1' ">超过预计时间未回收，则可取消订单</div>
      <div id="map" #map style="position:absolute;width:100%;height:100%;"></div>
      <div class="od_map_circle">
        <div class="od_map_circleInner">{{orderInfoBean.orderStatus}}</div>
      </div>
  </section>
  <section class="od_time" *ngIf="firstOffline == false">
      <div class="od_time_box">
        <div class="od_time_box_l">
          <div class="od_time_box_dot"><ion-icon name="arrow-up"></ion-icon></div>
          <div class="od_time_box_dot" *ngIf="orderInfoBean.receiveTime"><ion-icon name="arrow-up"></ion-icon></div>
          <div class="od_time_box_dot" *ngIf="orderInfoBean.predictTime"><ion-icon name="arrow-up"></ion-icon></div>
          <div class="od_time_box_line od_time_box_line1" *ngIf="orderInfoBean.receiveTime"></div>
          <div class="od_time_box_line od_time_box_line2" *ngIf="orderInfoBean.predictTime"></div>
        </div>
        <div class="od_time_box_r">
          <p><span>下单时间:</span> {{orderInfoBean.createTime}}</p>
          <p *ngIf="orderInfoBean.receiveTime"><span>接单时间:</span> {{orderInfoBean.receiveTime}}</p>
          <p *ngIf="orderInfoBean.predictTime"><span>预计到店:</span> {{orderInfoBean.predictTime}}</p>
        </div>
      </div>
  </section>
  <section class="od_info" *ngIf="firstOffline == false && orderInfoBean.orderStatusId == '2' ">
      <div class="od_map_img">
        <img src="{{recyclesInfoBean.recycleImage}}" onerror="javascript:this.src='assets/img/default.png';" width="100%" height="100%"/>
      </div>
      <span><label>{{recyclesInfoBean.recycleName}}</label> {{recyclesInfoBean.recyclePhone}}</span>
      <div class="od_map_tags">
        <ul>
          <li>{{recyclesInfoBean.commVerygood}}</li>
          <li>{{recyclesInfoBean.commGood}}</li>
          <li>{{recyclesInfoBean.commNotgood}}</li>
          <li>{{recyclesInfoBean.lableName}}</li>
        </ul>
      </div>
  </section>
  <section class="od_table" *ngIf="firstOffline == false">
      <table>
        <thead>
          <td *ngFor="let title of goodListTitle">
            {{title}}
          </td>
        </thead>
        <tbody>
          <tr *ngFor="let good of datas.orderGoodsList">
            <td>{{good.catName}}</td>
            <td>{{good.quantityPre}}</td>
          </tr>
        </tbody>

      </table>
  </section>

  </section>

  <div class="noNet" style="width:1.48rem;margin: .8rem auto 0;" *ngIf="firstfirstOffline == true" (click)="reload()">
    <img src="assets/img/noNet.png" alt="无网络">
  </div>
  <div class="bottomBar">
<!--     <div class="bottomBar_l">
        <p>总金额：{{orderInfoBean.amountPre}}元</p>
        <p>总重量：约{{orderInfoBean.weightPre}}kg</p>
    </div> -->
    <div class="bottomBar_r" (click)="orderNext()" *ngIf = "orderInfoBean.cancleState == 'Y' ">撤销订单</div>
  </div>
</ion-content>

