

<ion-header>
    <ion-navbar id="titlePrice">
      <ion-title>
      开户申请
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content >
    <div class="contain">
            <p class="accountHeader">开户申请</p>
          <div class="ulInput">
            <ul>
                <li>
                    <label stacked>身份证号</label>
                    <input type="tel" [(ngModel)]="personNum" id="ion-input" placeholder="请输入身份证号" clearInput class="plcolor">
                </li>
                <li>
                    <label stacked>手机号</label>
                    <input type="number" [(ngModel)]="personPhone" id="ion-input" placeholder="必须与绑定银行卡的预留手机号一致" clearInput class="plcolor">
                </li>
                <li>
                    <div *ngIf="!hasCompany">
                        <label stacked>企业名称</label>
                        <input type="text" [(ngModel)]="campanyName" clearInput autocomplete="on" placeholder="请输入企业名称" class="plcolor" >
                    </div>
                    <div  *ngIf="hasCompany" >
                        <label stacked>企业名称</label>
                        <img src="assets/img/wallet/bangzhu.png" alt="" class="nameInfo" (click)="showInfo()">
                        <span style="margin-left: .25rem;">{{campanyName}}</span> 
                    </div>
                </li>
                <li>
                    <div *ngIf="!hasLinsceNum">
                        <label for="">社会信用代码</label>
                        <input type="tel" [(ngModel)]="linsceNum" id="ion-input" placeholder="统一社会信用代码（注册号）" clearInput class="plcolor"  >       
                    </div>

                    <div  *ngIf="hasLinsceNum">
                        <label for="">社会信用代码</label>
                        <span style="margin-left: .25rem;"> {{linsceNum}}</span>
                        <img src="assets/img/wallet/bangzhu.png" alt="" class="nameInfo" (click)="showInfo()">
                    </div>

                </li>
                <li>
                  <div *ngIf="!hasOperName">
                      <label stacked>法人姓名</label>
                      <input type="text" [(ngModel)]="personName" id="ion-input" placeholder="请输入姓名" clearInput class="plcolor">
                  </div>
                  <div *ngIf="hasOperName">
                      <label stacked>法人姓名</label>
                      <span style="margin-left: .25rem;">{{personName}}</span>
                      <img src="assets/img/wallet/bangzhu.png" alt="" class="nameInfo" (click)="showInfo()">
                  </div>
                 
                </li>

            </ul>
        </div>  
            <button ion-button class="btn" (click)="next()" block>确定</button>
            <button ion-button class="btn btn2" (click)="linsceGo()" block> 临时营业执照点这里</button>
    </div>
    <div class="motai" *ngIf="hasSuccess">
      <img src="assets/img/login/loading.gif" alt="" id="loading">
    </div>
</ion-content>


