<ion-header>
  <ion-navbar>
    <ion-title>我的订单</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="ol_content">

  <div class="ol_list" *ngFor="let list of orderList" (click)="goDetail(list)"> 
    <p><span>{{list.orderNo}}</span></p>
    <p>总金额：<span>{{list.amountRec}}</span></p>
    <p><span>{{list.createTime}}</span></p>
    <span class="ol_list_tag">{{list.payStatus}}</span>
  </div>

  <div class="inner-center noNet" *ngIf="noContent == true && firstOffline == true" (click)="reload()">
    <img src="assets/img/noNet.png" alt="无网络">
  </div>
  <div class="inner-center noContent" *ngIf="noContent == true && firstOffline == false">
      <img src="assets/img/noContent.png" alt="暂无内容">
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="获取数据中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

