radar-page{
  
  .radar_area{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     width: 100%;
     height: auto;
     background: #ededed;
     // background: -webkit-linear-gradient(top, #e9c629, #f0862b); /* Safari 5.1 - 6.0 */
     // background: -o-linear-gradient(top, #e9c629, #f0862b); /* Opera 11.1 - 12.0 */
     // background: -moz-linear-gradient(top, #e9c629, #f0862b); /* Firefox 3.6 - 15 */
     // background: linear-gradient(top, #e9c629, #f0862b);
  }

  .radar_area h3,.radar_area h4{
     color: #363636;
     text-align: center;
  }

  .radar_area h3{
    font-size: .32rem;
    margin: 1rem auto 0;
  }

  .radar_area h4{
    margin: .2rem auto .6rem;
    font-size: .28rem;
  }

  .radar_area h4 span{
    margin: 0 .1rem;
    font-size: .3rem;
    color: #F9A727;
  }

  .radar_outCir{
     position: relative;
     width: 6.2rem;
     height: 6.2rem;
     border-radius: 50%;
     margin: 0 auto;
     // background: rgba(255,255,255,.3);
     background: url(../assets/img/radar/radar_out.png);
     background-size: 100%;
  }

  .radar_inCir{
     width: 4.8rem;
     height: 4.8rem;
     border-radius: 50%;
     background: url(../assets/img/radar/radar_out.png);
     background-size: 100%;
  }

  .radar_search{
    position: absolute;
    width:3.2rem;
    height:3.2rem;
    top: .8rem;
    left: .8rem;
    border-radius: 50%;
    transform-origin:50% 50%; 
    -webkit-transform-origin:50% 50%; 
    background: url(../assets/img/radar/radar_in.png);
    background-size: 100%;
  }

  .radar_mine{
    display: block;
    width: .4rem;
    height: .4rem;
    display: none;
  }

  .radar_area button{
    position: fixed;
    bottom: 1rem;
    left: 13%;
    display: block;
    width: 74%;
    height: .8rem;
    margin: .3rem auto 0;
    border-radius: .08rem;
    background: #0eaf9d;
    color: #FFF;
    font-size: .3rem;
  }

  // .radar_quarter{
  //   position: absolute;
  //   width:0;
  //   height:0;
  //   border-radius:2rem;
  //   border-width:2rem;
  //   border-style:solid;
  //   border-color:rgba(240,208,106,.6) transparent transparent transparent;
  //   overflow:hidden;
  //   cursor:pointer;
  // }
  .radar_viewer{
    position: absolute;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    z-index: 2000;
  }
  .radar_viewerTip{
    position: absolute;
    bottom: -.36rem;
    // left: 50%;
    width: auto;
    height: .3rem;
    min-width: 1.4rem;
    // transform:translateX(-50%);
    // -o-transform:translateX(-50%);
    // -ms-transform:translateX(-50%);
    // -moz-transform:translateX(-50%);
    // -webkit-transform:translateX(-50%);
  }

  .radar_viewer img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .radar_viewerTip img{
     float: left;
     display: block;
     width: .16rem !important;
     height: .21rem !important;
     border-radius: 0;
  }

  .radar_viewerTip span{
    float: left;
    display: block;
    color: #F9A727;
    font-size: .2rem;
    margin-left: .04rem;
  }

  .spining {
      -webkit-animation: rotation1 2s linear infinite;
      animation: rotation1 2s linear infinite;
  }
  @-webkit-keyframes rotation1{
      0%{
        -webkit-transform: rotate(0deg);
      }
      100%{
        -webkit-transform: rotate(360deg);
      }
  }

  .viewShow {
      -webkit-animation: viewShowAni 1s linear;
      animation: viewShowAni 1s linear;
  }

  @-webkit-keyframes viewShowAni{
      0%{
        opacity: 0;
        margin-top: -.2rem;
      }
      30%{
        opacity: 0.5;
        margin-top: -.1rem;
      }
      60%{
        opacity: 1;
        margin-top: -.16rem;
      }
      100%{
        opacity: 1;
        margin-top: 0;
      }
  }

}