<ion-content padding>
    <img src="assets/img/login/logo2.png" alt="" class="logo">
    <!-- <div class="title"></div> -->
    <!-- <ion-list> -->
        <!-- <ion-item>
            <ion-label><img src="assets/img/login/myTEL.png" alt="" class="loginIcon"></ion-label>
            <ion-input type="text" [(ngModel)]="userInfo.userName" clearInput autocomplete="on" placeholder="请输入手机号" class="plcolor" ></ion-input>
        </ion-item> -->
      
        <!-- <ion-item>
            <ion-label><img src="assets/img/login/pwd.png" alt="" class="loginIcon"></ion-label>
            <ion-input type="password" [(ngModel)]="userInfo.pwd" id="ion-input" placeholder="请输入密码" clearInput class="plcolor"></ion-input>
        </ion-item> -->
        <!-- <p *ngIf="loginError" class="c-white loginError">{{errMsg}}</p>
        <button ion-button class="btn" (click)="login()" block>登录</button> -->
        <!-- <p (click)="regsiter()">注册</p> -->
    <!-- </ion-list> -->
    <div class="ulInput" >
        <ul>
            <li>
                <img src="assets/img/login/myTEL.png" alt="" class="regIcon">
                <input type="number" name="phone" [(ngModel)]="userInfo.userName" id="ion-input" placeholder="请输入手机号" clearInput class="plcolor">
              </li>
    
              <li>
                <img src="assets/img/login/pwd.png" alt="" class="regIcon">
                <input type="password" [(ngModel)]="userInfo.pwd" id="ion-input" placeholder="请输入密码" clearInput class="plcolor">
              </li>
        </ul>
    </div>
    <p *ngIf="loginError" class="c-white loginError">{{errMsg}}</p>
    <button ion-button class="btn" (click)="login()" block>登录</button>
    <a href="javascript:void(0);" class="findMM" (click)="findPwd()">找回密码？</a>
    <a href="javascript:void(0);"  id="regsiter" (click)="regsiter()">注册</a>
<!--{{pp.data.a}}-->
</ion-content>
