<ion-header>
  <ion-navbar>
    <ion-title>报价详情</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="bOrder_subbar">
    <div class="bOrder_subbar_item" *ngFor="let title of navTitle, let idx = index" (click)="slcItem(idx)">{{title}}</div>
      <!-- <div class="bOrder_subbar_item" (click)="slcItem(2)">干电报价</div>
      <div class="bOrder_subbar_item" (click)="slcItem(3)">水电报价</div>
      <div class="bOrder_subbar_item" (click)="slcItem(10)">锂电报价</div> -->
    <div id="initSlideLine"></div>
  </div>
  <section class="bOrder_main">
    <div class="bOrder_slcbox" *ngFor="let m of models, let idx = index">
      <div class="bOrder_slcbox_l">
        型号<span>{{m.modelName}}</span>
      </div>
      <div class="bOrder_slcbox_r">
       {{m.price}} <span>{{m.nuit}}</span>
      </div>




    </div>
  </section>

  <div class="inner-center noNet" *ngIf="noContent == true && firstOffline == true" (click)="reload()">
    <img src="assets/img/noNet.png" alt="无网络">
  </div>
  <div class="inner-center noContent" *ngIf="noContent == true && firstOffline == false">
    <img src="assets/img/noContent.png" alt="暂无内容">
  </div>
  <!-- <div class="bottomBar" id="bBottom">
    <div class="bottomBar_l">
      <p>总金额：{{totalPrice}}元</p>
      <p>总重量：约{{totalWeight}}kg</p>
    </div>
    <div class="bottomBar_r" (click)="orderNext()">下一步</div>
  </div> -->

</ion-content>
